{% extends 'base.html' %}

{% block header %}
    <h2>
        {% block title %}
            {% if g.user_role %}
                {{ g.user_role['role_name']|capitalize }} Dashboard
            {% else %}
                Main Page
            {% endif %}
        {% endblock %}
    </h2>
{% endblock %}

{% block content %}
    {% if g.user %}
        {% if g.user_role['role_name'] == 'student' %}
            <a href="{{ url_for('books.my_books') }}">My Books</a>
            <br>
            <a href="{{ url_for('books.book_inventory') }}">Borrow Books</a>
        {% elif g.user_role['role_name'] == 'librarian' or g.user_role['role_name'] == 'admin' %}
            <a href="{{ url_for('books.manage_books') }}">Manage Books</a>
        {% endif %}
        <br>
        <a href="{{ url_for('user.rooms') }}">
            {% if g.user_role['role_name'] == 'student' %}
                Reserve Room
            {% elif g.user_role['role_name'] == 'librarian' or
                    g.user_role['role_name'] == 'admin' %}
                Manage Rooms
            {% endif %}
        </a>
        <br>
        {% if g.user_role['role_name'] == 'admin' %}
            <a href="{{ url_for('user.manage_users') }}">Manage Users</a>
        {% endif %}
    {% endif %}
{% endblock %}